// ------------------------------
// // edX Web Certificates: Certificate Rendering - Layouts

// About: (specifically for certificate rendering) styling layouts and responsive support.

// #ACCOMPLISHMENT - BASE

// ------------------------------
// #ACCOMPLISHMENT - BASE
// ------------------------------
.accomplishment-rendering {
  @extend %depth-2;
  margin: 2%;
  border: 1px solid palette(grayscale, back);
  padding: 7% 5% 5% 5%;
  background-color: palette(grayscale, x-back);
  text-align: center;

  @media(min-width: $bp-screen-md) {
    @include text-align(left);
    padding: 5% 5% 3%;
  }

  .background-watermark .watermark-svg {
    position: absolute;
    left: inherit;
    top: inherit;
    opacity: 0.03;
  }

  .micromasters-watermark {
    fill: $micromasters-watermark-color;
  }

  .xseries-watermark {
    fill: $xseries-color;
  }

  .professional-certificate-watermark {
    fill: $professional-certificate-watermark-color;
  }
}

.wrapper-accomplishment-title {

  .accomplishment-title {
    display: block;
    margin-top: spacing-vertical(x-small);
    margin-bottom: spacing-vertical(base);

    svg {
      width: 250px;
    }

    @media(min-width: $bp-screen-md) {
      display: inline-block;
      vertical-align: middle;
      @include span(6);
      svg {
        width: 275px;
      }
    }

    @media(min-width: $bp-screen-lg) {
      @include span(6);
      svg {
        width: 300px;
      }
    }

    .micromasters-logo {
      fill: $micromasters-color;
    }

    .xseries-logo {
      fill: $xseries-color;
    }

    .professional-certificate-logo {
      fill: $professional-certificate-color;
    }
  }
}

.wrapper-accomplishment-orgs {
  margin-bottom: spacing-vertical(small);
  margin-top: spacing-vertical(small);
  text-align: center;

  @media(min-width: $bp-screen-md) {
    @include margin-left(gutter(inside));
    @include text-align(right);
    display: inline-block;
    vertical-align: middle;
    @include span(6);
    margin-top: 0;
    margin-bottom: spacing-vertical(base);
  }

  @media(min-width: $bp-screen-lg) {
    @include span(6);
  }
}

.accomplishment-statement {
  margin-top: spacing-vertical(small);
  margin-bottom: spacing-vertical(base);
  border-bottom: 1px solid palette(grayscale, back);
  padding-bottom: spacing-vertical(small);

  @media(min-width: $bp-screen-lg) {
    display: inline-block;
    vertical-align: middle;
    @include span(8);
    margin-top: spacing-vertical(base);
    margin-bottom: spacing-vertical(base);
    border: 0;
  }

  .accomplishment-recipient,
  .accomplishment-course,
  .accomplishment-program,
  .accomplishment-summary,
  .accomplishment-statement-detail {
    display: block;
    margin-bottom: spacing-vertical(small);
  }
}

.accomplishment-signatories {
  border-bottom: 1px solid palette(grayscale, back);
  padding-bottom: spacing-vertical(small);

  @media(min-width: $bp-screen-lg) {
    @include margin-left(gutter(inside));
    @include text-align(right);
    display: inline-block;
    vertical-align: top;
    @include span(4);
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.signatory {
  @include span(12);
  float: none; // unset the gallery float to prevent overlap

  @media(min-width: $bp-screen-md) {
      @include span(6);
  }

  @media(min-width: $bp-screen-lg) {
      @include span(12);
      float: none; // unset the gallery float to prevent overlap
  }
}

.wrapper-accomplishment-stamps {
  margin-top: spacing-vertical(base);
}

.accomplishment-stamps {
  @extend %list-unstyled;

  .accomplishment-stamp-platform {
    margin-bottom: spacing-vertical(small);

    .logo-img svg {
      width: 125px;
      margin-top: 2px;
    }

    @media(min-width: $bp-screen-lg) {
      @include margin-right(gutter(inside));
      display: inline-block;
      vertical-align: middle;
      @include span(2);
      margin-bottom: spacing-vertical(x-small);
    }
  }

  .accomplishment-stamp-date {
    margin-bottom: spacing-vertical(x-small);

    @media(min-width: $bp-screen-md) {
      @include margin-right(gutter(inside));
      display: inline-block;
      vertical-align: middle;
      @include span(2);
    }

    @media(min-width: $bp-screen-lg) {
      @include span(3);
    }
  }

  .accomplishment-stamp-validity {
    margin-bottom: spacing-vertical(x-small);

    @media(min-width: $bp-screen-sm) {
      display: inline-block;
      vertical-align: middle;
      @include span(5, before);
    }
  }
}
