// ------------------------------
// // edX Web Certificates: Layouts

// About: styling for generic layouts and responsive support.

// #UTILITY
// #BASE
// #USER SHARE BANNER
// #ACCOMPLISHMENT
// #SUPPORT
// #FOOTER

// ------------------------------
// #UTILITY
// ------------------------------
%layout-wrapper {
  margin-bottom: spacing-vertical(base);
  padding: 0 5%;
}

%layout {
  @include grid-container();
}

// ------------------------------
// #BASE
// ------------------------------
// app header
.wrapper-header {
  border-bottom: 1px solid palette(grayscale, back);
}

.header-app {
  @include grid-container();
  margin: 0 auto;
  padding: 17px 2%; // imitate LMS header spacing

  .logo {
    display: inline-block;
    width: 77px; // match lms size
    margin: 0 auto;
    vertical-align: text-bottom;
  }

  .logo-img {
    max-width: 100%;
  }
}

.header-app-title {
    @include text-align(center);
    @include span(12);
    margin: 0;
}

// ------------------------------
// #USER SHARE BANNER
// ------------------------------
.banner-user {
  @include text-align(center);

  @media(min-width: $bp-screen-lg) {
    @include text-align(left);
  }

  .wrapper-copy-and-actions {
    @include grid-container();

    .message-copy {
      margin-bottom: spacing-vertical(small);
    }

    .message-actions {
      @include span(12);

      .action {
        display: block;
        width: 100%;
        margin: 0 auto spacing-vertical(small) auto;

        &:last-child {
          margin-bottom: 0;
        }

        // CASE: icon display only
        &.icon-only {

          @media(min-width: $bp-screen-md) {
            padding: spacing-vertical(x-small) spacing-horizontal(base);

            .icon {
              @include margin-right(0);
            }
          }
        }

        @media(min-width: $bp-screen-md) {
          display: inline-block;
          vertical-align: middle;
          min-width: 130px;
          width: auto;
          margin-bottom: 0;
          margin-right: spacing-horizontal(mid-small);

          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
  }
}

// ------------------------------
// #ACCOMPLISHMENT
// ------------------------------
.accomplishment {
  @include grid-container();
}

// ------------------------------
// #SUPPORT
// ------------------------------
.accomplishment-support {
  @include grid-container();
  margin: 0 3%;
  padding: 0 spacing-horizontal(base);

  @media(min-width: $bp-screen-md) {
    margin: 0 auto;
    padding: 0 spacing-horizontal(mid-large);
  }
}

.accomplishment-metadata {
  @include grid-container();
  margin: 0 3%;
  padding: spacing-vertical(x-small) spacing-horizontal(base);

  @media(min-width: $bp-screen-md) {
    margin: 0 auto;
    padding: spacing-vertical(x-small) spacing-horizontal(mid-large);
  }
}

.accomplishment-metadata-aboutplatform {

  @media(min-width: $bp-screen-md) {
    @include span(6, after);
  }
}

.accomplishment-metadata-aboutcert {

  @media(min-width: $bp-screen-md) {
    @include span(6, before);
  }
}

// ------------------------------
// #FOOTER
// ------------------------------
.footer-app {
  @include grid-container();
  margin: 0 3%;
  border-top: rem(4) solid palette(grayscale, x-back);
  padding: spacing-vertical(small) spacing-horizontal(base);

  @media(min-width: $bp-screen-md) {
    margin: 0 auto;
    padding: spacing-vertical(small) spacing-horizontal(mid-large);
  }
}

.footer-app-legal {

  .copyright-trademarks {
    margin-top: spacing-vertical(small);

    .copyright {
      display: block;
    }
  }

  @media(min-width: $bp-screen-md) {
    @include span(6, after);
  }
}

.footer-app-related {

  @media(min-width: $bp-screen-md) {
    @include span(6, before);
    @include text-align(right);
  }
}
