// ------------------------------
// Open edX Certificates: Config


// ------------------------------
// #VARIABLES
// ------------------------------
$credentials-img-path: '/static/images';
$credentials-font-path: '../fonts';

// certificate characteristics
$cert-base-color: palette(grayscale, dark);
$cert-distinguished-color: palette(primary, accent);

$cert-decorative-color: palette(grayscale, back);
$cert-decorative-color-de-emphasized: palette(grayscale, back);
$cert-decorative-color-emphasized: palette(grayscale, accent);


// typography: config
@include font-face(
    'Domine',
    '#{$credentials-font-path}/Domine/Domine-Regular-webfont',
    400,
    $file-formats: woff woff2 ttf
);

@include font-face(
    'Domine',
    '#{$credentials-font-path}/Domine/Domine-Bold-webfont',
    700,
    $file-formats: woff woff2 ttf
);

// typography: config - stacks
$font-family-serif: 'Domine', serif;
