// ------------------------------
// Open edX Certificates: Main Style Compile

// About: Sass compile for the Open edX Certificates Elements.

// NOTE: This is the right to left (RTL) configured style compile.
// It should mirror main-ltr w/ the exception of bi-app references.


@import 'rtl';
@import 'build';
